/*----------------------------------------------   
--Setup
-----------------------------------------------  */
*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box; 
}

html {
	font-size: 100%; 
	overflow-y: scroll; 
	overflow-x: hidden;
	width: 100%;
	-webkit-text-size-adjust: 100%
}


/*----------------------------------------------   
--Media
-----------------------------------------------  */
img,object,embed{
  max-width:100%;
  height:auto
}

/*----------------------------------------------   
--GMaps
-----------------------------------------------  */
.js-map { 
	height: 100%; 
	min-height: 35em;
	margin: 0; 
	padding: 0;

		&::after{
		@media (max-width: $mq-med) {
			content: '';
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 99;
			background: transparent;
		}
	}
	
	.gm-style-iw > div{
		overflow:	hidden !important;
		height:	auto !important;
		line-height:	1.6 !important;
	}
	.gmnoscreen {
	 	display: none !important;
	}
	
	.gmnoprint.gm-style-cc {
	 	display: none !important;
	}
	
	.gm-style-cc {
	 display: none;
	}
}

/*----------------------------------------------   
--Row Class
-----------------------------------------------  */
.row{  
 width: 95%;
 margin-left: auto;
 margin-right: auto;
}

/*----------------------------------------------   
--Header
-----------------------------------------------  */
header{
	font-family: $font-header;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 999;
	display: table;
	padding: 0 0.5em;
	background-color: rgba(0,0,0,0.9);
	height: 4em;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.9);

	.vcenter{
		display: table-cell;
		vertical-align: middle;
		width: 100%;
	}

	h1.logo{
		float: left;
		font-size: 1em;
		color: #fff;
		margin: 0;
	}
	.btn{
		float: right;
		font-size: 70%;
  color: #fff;
  border: 1px solid #fff;
  padding: 0.2em 1em;
  line-height: 1.7;
	}
}

/*----------------------------------------------   
--Main
-----------------------------------------------  */
main{
	margin-top: 4em;
}

/*----------------------------------------------   
--Banner
-----------------------------------------------  */
.sect-banner{
	margin: 0 auto;
	display: block;
	padding: 12% 1%;
	width: 100%;
	text-align: center;
	background-color: #222;
	color: #fff;
	background-image: url(images/map-bg.jpg);
	background-size: cover;

	p{
		font-size: 120%;
		padding: 0 5%;
		@media (min-width: $mq-med){
			font-size: 150%;
		}
	}
}


/*----------------------------------------------   
--Half Half Blocks
-----------------------------------------------  */
.has-table{
	@include cf;
	border-bottom: 1px solid #3A3A3A;

	@media (min-width: $mq-med){
	margin: 0 auto;
	}	
	.row-table{
		display: table;
		width: 100%;
		background: #222;

		.half{
			background-color: #121212;
			position: relative;
			float:left;
			width: 100%;

			@media (min-width: $mq-med){
				float: none;	
				display: table-cell;
				width: 50%;
				vertical-align: middle;
		}
	}

		.half.has-content{
			padding: 0 4%;

			h3{
				color: rgba(255,255,255,0.7);
				position: relative;
				border-bottom: 3px solid rgba(255,255,255,0.7);
				display: inline-block;
				padding: 1em 0 0;
			}
		}
	}
}

/*----------------------------------------------   
-Footer
-----------------------------------------------  */
footer{
	background-color: #222;
	padding: 5% 5%;
	text-align:center;
	color: rgba(255,255,255,0.8);
}